@model IEnumerable<BookShop.Models.Book>

@using System.Globalization

@foreach (var item in Model)
{
    <div class="product-briefing flex _2cRTS4">
        <div class="_30iQ1- product-briefing__left">
            <div class="qaNIZv block-l product-briefing__left-header"></div>
            <div class="flex _32fuIU flex-l product-briefing__left-statistic">
                <div class="flex M3KjhJ product-briefing__left-rating">
                    <div class="_3Oj5_n _2z6cUg value">5</div>
                    <div class="_1_WXLA">
                        <div class="tickid-rating-stars">
                            <div class="tickid-rating-stars__stars">
                                <div class="tickid-rating-stars__star-wrapper">
                                    <div class="tickid-rating-stars__lit"
                                         style="width: 100%;">
                                        <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                         enable-background="new 0 0 15 15"
                                         viewBox="0 0 15 15" x="0" y="0">
                                        <polygon fill="none"
                                                 points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-miterlimit="10"></polygon>
                                    </svg>
                                </div>
                                <div class="tickid-rating-stars__star-wrapper">
                                    <div class="tickid-rating-stars__lit"
                                         style="width: 100%;">
                                        <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                         enable-background="new 0 0 15 15"
                                         viewBox="0 0 15 15" x="0" y="0">
                                        <polygon fill="none"
                                                 points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-miterlimit="10"></polygon>
                                    </svg>
                                </div>
                                <div class="tickid-rating-stars__star-wrapper">
                                    <div class="tickid-rating-stars__lit"
                                         style="width: 100%;">
                                        <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                         enable-background="new 0 0 15 15"
                                         viewBox="0 0 15 15" x="0" y="0">
                                        <polygon fill="none"
                                                 points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-miterlimit="10"></polygon>
                                    </svg>
                                </div>
                                <div class="tickid-rating-stars__star-wrapper">
                                    <div class="tickid-rating-stars__lit"
                                         style="width: 100%;">
                                        <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                         enable-background="new 0 0 15 15"
                                         viewBox="0 0 15 15" x="0" y="0">
                                        <polygon fill="none"
                                                 points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-miterlimit="10"></polygon>
                                    </svg>
                                </div>
                                <div class="tickid-rating-stars__star-wrapper">
                                    <div class="tickid-rating-stars__lit"
                                         style="width: 90%;">
                                        <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                         enable-background="new 0 0 15 15"
                                         viewBox="0 0 15 15" x="0" y="0">
                                        <polygon fill="none"
                                                 points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-miterlimit="10"></polygon>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex SbDIui product-briefing__left-sales">
                    <div class="_22sp0A value">88</div>
                    <div class="ilat8W unit">đã bán</div>
                </div>
            </div>
            <div class="block-l product-briefing__left-prices">
                <div class="flex flex-column">
                    <div class="flex flex-column KHpkTU">
                        <div class="flex items-center">
                            <div class="flex items-center _2n_9_X">
                                @if (item.Discount == 0)
                                {
                                    <div class="_3n5NQx">@(Convert.ToDouble(item.Price).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                }
                                else
                                {
                                    <div class="_3_ISdg">@(Convert.ToDouble(item.Price).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                    <div class="flex items-center">
                                        <div class="_3n5NQx">@(Convert.ToDouble(item.Price * (100 - item.Discount) / 100).ToString("C0",CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                        <div class="MITExd">@(item.Discount)% giảm</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-column product-briefing__carousel">
                <div class="_1eNVDM">
                    <div class="_1anaJP">
                        <div class="_24R4uR product-briefing__image-default"
                             style="display: none;">
                            <div class="tickid-image-placeholder _1bTOZs">
                                <svg class="stardust-icon stardust-icon-tickid icon-tickid-tiny"
                                     enable-background="new 0 0 54 61" viewBox="0 0 54 61">
                                    <path stroke="none"
                                          d="M35.67,44.95 C35.34,47.70 33.67,49.91 31.09,51.01 C29.65,51.63 27.72,51.96 26.19,51.85 C23.81,51.76 21.57,51.18 19.50,50.12 C18.77,49.74 17.67,48.99 16.82,48.28 C16.61,48.10 16.58,47.99 16.73,47.78 C16.80,47.67 16.94,47.46 17.25,47.01 C17.71,46.34 17.76,46.26 17.81,46.18 C17.96,45.96 18.19,45.94 18.42,46.12 C18.45,46.14 18.45,46.14 18.47,46.16 C18.50,46.19 18.50,46.19 18.59,46.26 C18.68,46.33 18.74,46.37 18.76,46.39 C20.99,48.13 23.58,49.13 26.20,49.24 C29.84,49.19 32.46,47.55 32.93,45.03 C33.44,42.27 31.27,39.88 27.02,38.54 C25.69,38.13 22.33,36.78 21.71,36.42 C18.80,34.71 17.44,32.47 17.64,29.71 C17.93,25.88 21.49,23.03 25.98,23.01 C27.98,23.01 29.99,23.42 31.91,24.23 C32.60,24.52 33.81,25.18 34.23,25.50 C34.47,25.68 34.52,25.88 34.38,26.11 C34.31,26.24 34.18,26.44 33.91,26.87 L33.91,26.87 C33.55,27.44 33.54,27.46 33.46,27.59 C33.32,27.80 33.15,27.82 32.90,27.66 C30.84,26.28 28.55,25.58 26.04,25.53 C22.91,25.59 20.57,27.45 20.42,29.99 C20.38,32.28 22.09,33.95 25.80,35.22 C33.33,37.64 36.21,40.48 35.67,44.95 M26.37,5.43 C31.27,5.43 35.27,10.08 35.46,15.90 L17.29,15.90 C17.47,10.08 21.47,5.43 26.37,5.43 M51.74,17.00 C51.74,16.39 51.26,15.90 50.66,15.90 L50.64,15.90 L38.88,15.90 C38.59,8.21 33.10,2.08 26.37,2.08 C19.64,2.08 14.16,8.21 13.87,15.90 L2.07,15.90 C1.48,15.91 1.01,16.40 1.01,17.00 C1.01,17.03 1.01,17.05 1.01,17.08 L1.00,17.08 L2.68,54.14 C2.68,54.25 2.69,54.35 2.69,54.46 C2.69,54.48 2.70,54.50 2.70,54.53 L2.70,54.60 L2.71,54.61 C2.96,57.19 4.83,59.26 7.38,59.36 L7.38,59.37 L44.80,59.37 C44.81,59.37 44.83,59.37 44.85,59.37 C44.87,59.37 44.88,59.37 44.90,59.37 L44.98,59.37 L44.98,59.36 C47.57,59.29 49.67,57.19 49.89,54.58 L49.89,54.58 L49.90,54.54 C49.90,54.51 49.90,54.49 49.90,54.46 C49.90,54.39 49.91,54.33 49.91,54.26 L51.74,17.05 L51.74,17.05 C51.74,17.04 51.74,17.02 51.74,17.00">
                                    </path>
                                </svg>
                            </div>
                            <div class="center _1X5pEb">
                                <video data-dashjs-player="true" class="_1KPtur"
                                       autoplay=""></video>
                            </div>
                        </div>
                        <div class="product-briefing__image-highlight hidden-sm js-product-briefing-image-highlight">
                            <div class="_3ZDC1p">
                                <div class="_2JMB9h _3XaILN"
                                     style="background-image: url(~/Areas/Admin/Data/BookImage/@item.Photo); background-size: contain; background-repeat: no-repeat;">
                                </div>
                            </div>
                            <div class="_1RzplO">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="F3D_QV">
                    <div class="product-briefing-slider js-slider js-product-briefing-images">
                        <div class="_2MDwq_ product-briefing__image js-product-briefing-image js-slider-item">
                            <div class="ZPN9uD product-briefing__image-inner">
                                <div class="_3ZDC1p">
                                    <div class="_2Fw7Qu _3XaILN"
                                         style="background-image: url(~/Areas/Admin/Data/BookImage/@item.Photo); background-size: contain; background-repeat: no-repeat;">
                                    </div>
                                </div>
                                <div class="product-briefing__image-border Wrsd9N"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center _25DJo1 items-center product-briefing__left-footer">
                <div class="flex items-center _3yHPog product-briefing__left-footer-item">
                    <div class="_1-aYcb " id="class-share">Chia sẻ:</div>
                    <a target="popup"
                       onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://demo.shop.tickid.vn/kem-bb-trang-diem-whoo-mi-luxury-bb-spf20pa','popup','width=600,height=600')"
                       class="sprite-product-sharing sprite-product-sharing-fb _1CuuK_"
                       aria-label="Share on Facebook"></a>
                    <a target="popup"
                       onclick="window.open('http://www.facebook.com/dialog/send?app_id=2794644853896597&amp;link=http://demo.shop.tickid.vn/kem-bb-trang-diem-whoo-mi-luxury-bb-spf20pa&amp;redirect_uri=http://demo.shop.tickid.vn/kem-bb-trang-diem-whoo-mi-luxury-bb-spf20pa','popup','width=600,height=600'); return false;"
                       class="sprite-product-sharing sprite-product-sharing-fm _1CuuK_"
                       aria-label="Share on Messenger"></a>
                </div>
                <div class="flex items-center _25DJo1 product-briefing__left-footer-item  js-single-sign-on">
                    <svg width="24" height="20" class="_10K0Ee icon-not-favorite"
                         viewBox="0 0 24 20">
                        <path class="change_filter-favorite"
                              d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z"
                              stroke="#FF424F" stroke-width="1.5" fill="none"
                              fill-rule="evenodd" stroke-linejoin="round"></path>
                    </svg>
                    <div class="_1-aYcb product-favorites-text--no-favorite">Yêu thích</div>
                    <div class="_1-aYcb product-favorites-text--has-favorite">Đã thích</div>
                </div>
            </div>
        </div>

        <div class="flex flex-auto k-mj2F product-briefing__right">
            <div class="flex flex-auto flex-column _2TJgvU product-briefing__right-content" style="">
                <div class="qaNIZv hidden-l">
                    <div class="horizontal-badge tickid-preferred-seller-badge horizontal-badge--no-triangle _1hOh3l _1lhNV3 items-center">
                        <svg class="tickid-svg-icon icon-tick"
                             enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0"
                             y="0">
                            <g>
                                <path d="m6.5 13.6c-.2 0-.5-.1-.7-.2l-5.5-4.8c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l4.7 4 6.8-9.4c.3-.4.9-.5 1.4-.2.4.3.5 1 .2 1.4l-7.4 10.3c-.2.2-.4.4-.7.4 0 0 0 0-.1 0z">
                                </path>
                            </g>
                        </svg>
                        Yêu thích
                    </div>
                    @item.Name
                </div>
                <div class="flex _32fuIU hidden-l">
                    <div class="flex M3KjhJ">
                        <div class="_3Oj5_n _2z6cUg">5</div>
                        <div class="_1_WXLA">
                            <div class="tickid-rating-stars">
                                <div class="tickid-rating-stars__stars">
                                    <div class="tickid-rating-stars__star-wrapper">
                                        <div class="tickid-rating-stars__lit"
                                             style="width: 100%;">
                                            <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                                 enable-background="new 0 0 15 15"
                                                 viewBox="0 0 15 15" x="0" y="0">
                                                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         stroke-miterlimit="10"></polygon>
                                            </svg>
                                        </div>
                                        <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon fill="none"
                                                     points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <div class="tickid-rating-stars__star-wrapper">
                                        <div class="tickid-rating-stars__lit"
                                             style="width: 100%;">
                                            <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                                 enable-background="new 0 0 15 15"
                                                 viewBox="0 0 15 15" x="0" y="0">
                                                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         stroke-miterlimit="10"></polygon>
                                            </svg>
                                        </div>
                                        <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon fill="none"
                                                     points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <div class="tickid-rating-stars__star-wrapper">
                                        <div class="tickid-rating-stars__lit"
                                             style="width: 100%;">
                                            <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                                 enable-background="new 0 0 15 15"
                                                 viewBox="0 0 15 15" x="0" y="0">
                                                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         stroke-miterlimit="10"></polygon>
                                            </svg>
                                        </div>
                                        <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon fill="none"
                                                     points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <div class="tickid-rating-stars__star-wrapper">
                                        <div class="tickid-rating-stars__lit"
                                             style="width: 100%;">
                                            <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                                 enable-background="new 0 0 15 15"
                                                 viewBox="0 0 15 15" x="0" y="0">
                                                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         stroke-miterlimit="10"></polygon>
                                            </svg>
                                        </div>
                                        <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon fill="none"
                                                     points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                    <div class="tickid-rating-stars__star-wrapper">
                                        <div class="tickid-rating-stars__lit"
                                             style="width: 90%;">
                                            <svg class="tickid-svg-icon tickid-rating-stars__primary-star icon-rating-solid"
                                                 enable-background="new 0 0 15 15"
                                                 viewBox="0 0 15 15" x="0" y="0">
                                                <polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         stroke-miterlimit="10"></polygon>
                                            </svg>
                                        </div>
                                        <svg class="tickid-svg-icon tickid-rating-stars__hollow-star icon-rating"
                                             enable-background="new 0 0 15 15"
                                             viewBox="0 0 15 15" x="0" y="0">
                                            <polygon fill="none"
                                                     points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     stroke-miterlimit="10"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex SbDIui">
                        <div class="_22sp0A">88</div>
                        <div class="ilat8W">đã bán</div>
                    </div>

                </div>
                <div style="margin-top: 10px;" class="hidden-l">
                    <div class="flex flex-column">
                        <div class="flex flex-column KHpkTU">
                            <div class="flex items-center">
                                <div class="flex items-center _2n_9_X">
                                    @if (item.Discount == 0)
                                    {
                                        <div class="_3n5NQx">@(Convert.ToDouble(item.Price).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                    }
                                    else
                                    {
                                        <div class="_3_ISdg">@(Convert.ToDouble(item.Price).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                        <div class="flex items-center">
                                            <div class="_3n5NQx">@(Convert.ToDouble(item.Price * (100 - item.Discount) / 100).ToString("C0",CultureInfo.CreateSpecificCulture("vi-VN")))</div>
                                            <div class="MITExd">@(item.Discount)% giảm</div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column flex-auto _3DepLY hidden-sm">
                    <div class="flex flex-auto flex-column">
                        <div class="flex-auto hidden-l">
                            <div class="product-briefing__summary">
                                <div class="flex flex-column">
                                    <div class="flex items-center"
                                         style="align-items: baseline;">
                                        <label class="_2iNrDS">Thông tin</label>
                                        <div class="crl7WW product-briefing__summary ">
                                            <div class="wysiwyg ">
                                                <p>
                                                    @item.Description
                                                </p>
                                            </div>
                                            <a class="_2XtIUk" id="see-product-detail"
                                               href="#product-details">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex _3dRJGI _3a2wD- product-briefing__quantity js-product-briefing-quantity">
                            <div class="flex flex-column">
                                <div class="flex items-center product-briefing__quantity-row">
                                    <div class="_2iNrDS">Số lượng</div>
                                    <div class="flex items-center cl-gray">
                                        <div style="margin-right: 15px;">
                                            <div class="_19lAw4 tickid-input-quantity js-plus-minus"
                                                 min="1" max="99">
                                                <button class="btn btn-quantity _1zT8xu js-minus">
                                                    <svg class="tickid-svg-icon "
                                                         enable-background="new 0 0 10 10"
                                                         viewBox="0 0 10 10" x="0" y="0">
                                                        <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5">
                                                        </polygon>
                                                    </svg>
                                                </button>
                                                <input class="_1zT8xu _18Y8Ul js-current"
                                                       type="text" value="1">
                                                <button class="btn btn-quantity _1zT8xu js-plus">
                                                    <svg class="tickid-svg-icon icon-plus-sign"
                                                         enable-background="new 0 0 10 10"
                                                         viewBox="0 0 10 10" x="0" y="0">
                                                        <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                                        </polygon>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center product-briefing__quantity-row">
                                    <div class="_2iNrDS">Đơn vị: &nbsp;</div>
                                    <div class="flex items-center cl-gray">
                                        <div style="margin-right: 15px;">
                                            lọ
                                        </div>
                                    </div>
                                </div>
                                <div class="product-briefing__quantity-error product-briefing__quantity-row js-product-briefing-quantity-error">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-briefing__action hidden-sm">
                    <div class="OJJX3D">
                        <div class="_2O0llP">
                            <button type="button"
                                    class="btn btn-tinted btn--l YtgjXY _3a6p6c js-product-add-cart"
                                    aria-disabled="false">
                                <svg class="tickid-svg-icon _343Jzb icon-add-to-cart"
                                     enable-background="new 0 0 15 15" viewBox="0 0 15 15"
                                     x="0" y="0">
                                    <g>
                                        <g>
                                            <polyline fill="none"
                                                      points=".5 .5 2.7 .5 5.2 11 12.4 11 14.5 3.5 3.7 3.5"
                                                      stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-miterlimit="10"></polyline>
                                            <circle cx="6" cy="13.5" r="1" stroke="none">
                                            </circle>
                                            <circle cx="11.5" cy="13.5" r="1" stroke="none">
                                            </circle>
                                        </g>
                                        <line fill="none" stroke-linecap="round"
                                              stroke-miterlimit="10" x1="7.5" x2="10.5" y1="7"
                                              y2="7"></line>
                                        <line fill="none" stroke-linecap="round"
                                              stroke-miterlimit="10" x1="9" x2="9" y1="8.5"
                                              y2="5.5"></line>
                                    </g>
                                </svg>
                                <span>
                                    thêm vào giỏ hàng
                                </span>
                            </button>
                            <button type="button"
                                    class="btn btn-solid-primary btn--l YtgjXY js-product-buy-now"
                                    aria-disabled="false">
                                Mua ngay
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-briefing__footer">
                    <a rel="noopener noreferrer"
                       class="_13C8_x flex items-center product-briefing__footer-link"
                       href="#">
                        @*<img src="assets/images/shiled.png" class="_110HpJ" />*@
                        <span class="XNBuk1">Gian Hàng Đảm Bảo</span>
                        <span>3 Ngày Hoàn Tiền</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}