@model IEnumerable<BookShop.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher.Name)
            </th>

            <th>Chức năng</th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <img width="100px" src="~/Areas/Admin/Data/BookImage/@item.Photo" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Publisher.Name)
    </td>

    <td>
        <a class="btn-edit" href="~/Admin/Voucher/Edit/@item.Id">
            <i class="far fa-edit icon-edit"></i>
        </a>

        <a class="js-delete" href="~/Admin/Voucher/Delete/@item.Id">
            <i class="far fa-trash-alt icon-delete"></i>
        </a>
    </td>

</tr>
}

</table>
